@{
    ViewData["Title"] = "Register Confirmation";
}

<div class="card container" style="max-width:600px">
    <div class="card-body">
        <div class="app-brand justify-content-center">
            <span class="app-brand-text text-body fw-bold h3">Register Successful</span>
        </div>
        <div class="alert alert-info" role="alert">
            <div class="text-center">
                The user has been created successfully.<br />
            </div>
        </div>
    </div>
</div>